# WARNING! These are fake, example values.
# Simply renaming this file will not work.

from base.settings import *

DEBUG = True

# If you set DEBUG to False, you might need these
# DEBUG = False
# STATIC_URL = "http://localhost:8001/static/"
# MEDIA_URL = "http://localhost:8001/media/"

# WARNING! Only for dev convenience
# ALLOWED_HOSTS = ["*"]

DATABASES["default"]["NAME"] = BASE_DIR / "dev.sqlite3"

GOTIFY_APP_TOKENS = {
    "username": "<GOTIFY TOKEN>",
    # "another_username": "<GOTIFY TOKEN>",
}
GOTIFY_URL_BASE = "https://gotify.someplace.online"
URL_BASE = "http://localhost:8000"

# Faster notification interval for testing
# NOTIFICATION_INTERVAL = crontab(minute="*/15")

# For Signal notifications, requires Signal CLI REST API
# https://github.com/bbernhard/signal-cli-rest-api
SIGNAL_RECIPIENTS = [
    "group.BASE64ID",
    "+123456789",
]
SIGNAL_NUMBER = "+987654321"
SIGNAL_API_URL_BASE = "https://signal-cli-rest-api.someplace.online"

# WebPush
WEB_PUSH_APPLICATION_SERVER_PUBLIC_KEY = "TODO"
PUSH_NOTIFICATIONS_SETTINGS = {
    "WP_PRIVATE_KEY": BASE_DIR / "private_key.pem", # WARNING! Check the file path!
    "WP_CLAIMS": {"sub": "mailto:TODO@TODO.com"}, # TODO
}
